.header {
	background: #e9edf2;
	margin-left: ;
	padding-top:15px;
}

.features-l img {
	display:block;
	float:left;
	margin-top:-10px;
}

.features-l {
	padding-top: 8px;
}

.titre_page {
	padding-bottom: 15px;
}